<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033914364259-jluv8133323i60d88cpq9haajngug82a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033914364259-jluv8133323i60d88cpq9haajngug82a</string>
	<key>API_KEY</key>
	<string>AIzaSyABHdLCTPsMdBq36thQGJ-r4i_iQAY7fCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1033914364259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhuntleyinc.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-5ecd0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-5ecd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033914364259:ios:8382afd07d6a20c7172356</string>
</dict>
</plist>